@media (min-width: 1300px) {

    .box_lista_car_descricao {
        background-color: var(--cor-fundo-dois);
        background-repeat: no-repeat; 
        background-size: 100%;
        border-radius: 15px;
        height: 260px;   
        padding-right: 10px;
        margin-right: 5px;
        background-image: url("https://uploads.spiritfanfiction.com/historias/capitulos/202005/never-not-jikook-19231490-060520202251.gif");
        padding: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 15%;
        margin-top: 200px;
        border-radius: 50px;

    }

    .susgestoes{
        color: #fff;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .box_anucioslista_car_descricao{
         
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }
    
    .box_veiculoslista_car_descricao {

        background-color: var(--cor-box-veiculos);
        width: 298px;
        height: 400px;
        border-radius: 0 0 10px 10px;
        border: 2px solid rgb(0, 0, 0);

    }

    .foto_veiculolista_car_descricao {
        box-shadow: 1px 1px 5px black;
        margin-bottom: 1%;
        border-radius:5px;
        transition: all 0.3s ease-in-out;
    }

    .foto_veiculolista_car_descricao:hover {
        transform: scale(2.00);
        box-shadow: 0 0 100px rgb(63, 66, 66);
        border-radius: 0px;
    }

    .marca_veiculolista_car_descricao {
        margin-top: 5px ;
        font-size: 120%;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 4%;

    }

    .preco_veiculolista_car_descricao {
        font-size: 90%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 2%;

    }

    .ano_veiculolista_car_descricao {
        font-size: 90%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 10%;

    }
    .km_veiculo {
        font-size: 90%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 10%;
        width: 50%;
        text-align: right;
    }

}